<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta http-equiv="Content-Type" content="text/html" charset="UTF-8">
    <title>Getting Started: Serving Web Content</title>
</head>
<body>

<p th:text="'Hello, ' + ${name} + '!'"></p>


<p>
    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Coś statycznego.
</p>


<img th:src="@{C:\Users\jakub\Downloads\JavaZadanieJakubCzarnecki\src\main\resources\templates\greeting.html}" width="600" height="600" alt="Image"/>
</body>
</html>
